.home {
  padding: 35px;
  flex: 1;
  background: #f7f3ee;

  display: flex;
  gap: 45px;
  align-items: flex-start;
}

.areaMesas {
  flex: 1;
}

.areaReserva {
  width: 390px;
  background: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);

  position: relative;
}

/* Linha que separa as mesas da área de reserva */
.areaReserva::before {
  content: "";
  position: absolute;
  left: -23px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #868685;
}

.home h2 {
  font-size: 34px;
  margin-bottom: 5px;
}

.home p {
  margin-bottom: 22px;
}

.legenda {
  display: flex;
  gap: 22px;
  margin-bottom: 22px;
}

.mesas {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 16px;
}

.mesa {
  height: 125px;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 15px;
}

.mesa strong {
  font-size: 22px;
}

.mesa span {
  text-transform: capitalize;
}

.livre {
  background: #dff3e7;
}

.reservada {
  background: #f7e6b8;
}

.ocupada {
  background: #f3cccc;
}

.formReserva {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.formReserva label {
  font-weight: bold;
  font-size: 15px;
}

.formReserva input,
.formReserva select {
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 15px;
}

.formReserva button {
  margin-top: 10px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 9px;
  background: #8b5e3c;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* TABLET */
@media (max-width: 1100px) {
  .home {
    flex-direction: column;
    align-items: center;
  }

  .areaMesas {
    width: 100%;
    text-align: center;
  }

  .legenda {
    justify-content: center;
  }

  .mesas {
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
  }

  .areaReserva {
    width: 100%;
    text-align: center;
  }

  .areaReserva::before {
    display: none;
  }
}

/* CELULAR */
@media (max-width: 700px) {
  .home {
    padding: 20px;
  }

  .home h2 {
    font-size: 28px;
  }

  .legenda {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .mesas {
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
  }

  .mesa {
    height: 110px;
  }

  .areaReserva {
    padding: 20px;
  }
}

/* CELULAR MUITO PEQUENO */
@media (max-width: 450px) {
  .mesas {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .mesa {
    width: 100%;
  }
}
