.home {
  padding: 35px;
  flex: 1;
  background: #f7f3ee;

  display: flex;
  gap: 45px;
  align-items: flex-start;
}

/* ÁREA DAS MESAS */
.areaMesas {
  flex: 1;
  min-width: 0;
}

.areaReserva {
  width: 390px;
  flex-shrink: 0;

  background: white;
  padding: 24px;

  border-radius: 16px;

  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);

  position: relative;
}

/* LINHA ENTRE MESAS E RESERVA */
.areaReserva::before {
  content: "";

  position: absolute;

  left: -23px;
  top: 0;

  width: 2px;
  height: 100%;

  background: #868685;
}

.home h2 {
  font-size: 34px;
  margin-bottom: 5px;
}

.home p {
  margin-bottom: 22px;
}

/* LEGENDA */
.legenda {
  display: flex;
  gap: 22px;

  margin-bottom: 22px;
}

/* GRID DAS MESAS */
.mesas {
  display: grid;

  grid-template-columns: repeat(4, minmax(110px, 1fr));

  gap: 16px;

  width: 100%;
}

/* CADA MESA */
.mesa {
  width: 100%;
  height: 125px;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 8px;

  font-size: 15px;

  transition: 0.2s;
}

.mesa:hover {
  transform: translateY(-3px);
}

.mesa:active {
  transform: scale(0.97);
}

.mesa strong {
  font-size: 22px;
}

.mesa span {
  text-transform: capitalize;
}

/* STATUS */
.livre {
  background: #dff3e7;
}

.reservada {
  background: #f7e6b8;
}

.ocupada {
  background: #f3cccc;
}

/* FORMULÁRIO */
.formReserva {
  display: flex;
  flex-direction: column;

  gap: 10px;

  margin-top: 20px;
}

.formReserva label {
  font-weight: bold;
  font-size: 15px;
}

.formReserva input,
.formReserva select {
  width: 100%;

  padding: 13px;

  border: 1px solid #ccc;
  border-radius: 9px;

  font-size: 15px;
}

.formReserva button {
  margin-top: 10px;

  width: 100%;

  padding: 14px;

  border: none;
  border-radius: 9px;

  background: #8b5e3c;

  color: white;

  font-size: 16px;

  cursor: pointer;

  transition: 0.2s;
}

.formReserva button:hover {
  background: #a96f40;
}

.formReserva button:active {
  transform: scale(0.98);
}

/* TABLET */
@media (max-width: 1100px) {
  .home {
    flex-direction: column;
    align-items: center;
  }

  .areaMesas {
    width: 100%;
    text-align: center;
  }

  .legenda {
    justify-content: center;
  }

  .mesas {
    grid-template-columns: repeat(4, 1fr);
  }

  .areaReserva {
    width: 100%;
    text-align: left;
  }

  .areaReserva::before {
    display: none;
  }
}

/* CELULAR */
@media (max-width: 700px) {
  .home {
    padding: 20px;
  }

  .home h2 {
    font-size: 28px;
  }

  .legenda {
    flex-wrap: wrap;
    justify-content: center;

    gap: 12px;
  }

  .mesas {
    grid-template-columns: repeat(2, 1fr);
  }

  .mesa {
    height: 110px;
  }

  .areaReserva {
    padding: 20px;
  }
}

/* CELULAR MUITO PEQUENO */
@media (max-width: 450px) {
  .mesas {
    grid-template-columns: 1fr;
  }
}
